* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    width: 100%;
}

#parent{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#child-1{
    height: 150px;
    width: 100px;
    background-color: crimson;
    border: solid 3px whitesmoke;
}

#child-2{
    height: 150px;
    width: 100px;
    background-color: rgb(53, 220, 20);
    border: solid 3px whitesmoke;
}

#child-3{
    height: 150px;
    width: 100px;
    background-color: rgb(20, 40, 220);
    border: solid 3px whitesmoke;
}