* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    width: 100%;
}

#box1{
    height: 200px;
    width: 200px;
    background-color: red;
}
#box2{
    height: 200px;
    width: 200px;
    background-color: rgb(30, 199, 246);
}
#box3{
    height: 200px;
    width: 200px;
    background-color: rgb(3, 250, 44);
}