*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html,body{
    height: 100%;
    width: 100%;
    font-family: "Libre Franklin", sans-serif;
}

.Navdiv{
    height: 15%;
    width: 100%;
    background-color: rgba(7, 7, 144, 0.767);
    padding-top: 18px;
}

.Navdiv h1{
    padding-left: 45%;
    color: white;
    font-weight: 800;
}

.Navdiv h3{
    padding-left: 38%;
    color: white;
    font-weight: 100;
}

#main{
    width: 100%;
    height: auto;
    background-color:rgb(185 185 185 / 30%);
    padding-left: 100px;
    padding-top: 35px;
    padding-bottom: 35px;
}

.div-body{
    border: none;
    border-radius: 10px;
    margin: 25px;
    width: 90%;
    height: 250px;
    padding: 10px;
    font-weight: 500;
}

.div1{
    background-color: white;
    height: 200px;
    
}

.div1 p{
    font-size: 16px;
    text-align-last: center;
}

.div2{
    background-color: #87beff;
    height: 200px;

}

.div3{
    background-color: #adf79d;
    height: 290px;
}

.div4{
    background-color: #ffe653db;
    height: 290px;

}

.div5{
    background-color: #fbc7ff;
        height: 210px;

}

.div-footer{
    height: 5%;
    width: 100%;
    background-color: rgba(7, 7, 144, 0.767);
}

.subdiv{
    border: none;
    border-radius: 5px;
    margin: 15px auto;
    width: 90%;
    height: 30px;
    text-align: center;
    background-color: whitesmoke;
    padding: 5px;

}

.div-body h2{
    text-align: center;
    color:black;
    padding-top: 5px;
}

.div-footer p{
    text-align: center;
    padding: 7px;
    color: white;
}

